@media (max-width: 768px) {
  .main-page {
    min-height: 100vh;
    padding: 0px 25px;
    background-color: #F0ECE6;
    font-family: ui-sans-serif;
  }

  .search-form-large {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .search-form-small {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }

  .search-field {
    width: 80%;
  }

  .search-type-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 5px;
  }

  .search-button-large {
    font-size: .75rem;
    padding: 5px;
    width: 65px;
  }

  .submit-button-large {
    font-size: 1rem;
    padding: 5px;
    margin: 10px 0px;
  }

  .search-field-large {
    font-size: 1rem;
    padding: 10px;
  }

  
}