@media (max-width: 768px) {
  .main-page {
    padding: 0px 25px
  }

  .search-form-large {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .search-field {
    width: 80%;
  }
}