@media (max-width: 768px) {
  .main-page {
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .search-form-large {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .search-field {
    width: 80%;
  }

  .search-type-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-button-large {
    font-size: .75rem;
    padding: 5px;
    width: 65px;
  }

  .submit-button-large {
    font-size: 1rem;
    padding: 5px;
    margin: 10px 0px;
  }

  .search-field-large {
    font-size: 1rem;
    padding: 10px;
  }

  
}